body {
    background-image: url("../imgs/nature-forest-trees-fog-4827.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding: 2em 0 2em 0;
    
}
.tbl {
    background-color: rgba(66, 66, 66, 0.5);
    width: 60%;
    margin: 2em auto;
    border-radius: .5em;
    padding: 2em .5em;
}
.table {
    width: 90%;
    margin: 1em auto;
}
table tr {
    color: white;
}
table tbody tr th{
    width:20%;
    /* text-align: right; */
}
table tbody tr td span{
    margin: 0em .1em;
    /* text-align: right; */
}
/* table tbody td {
    vertical-align: middle !important;
}
table tr:hover {
    background-color: gray;
} */