
body {
    background-image: url("../imgs/woman-wearing-gray-long-sleeved-shirt-and-black-black-1008000.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding: 8em 0;
    
}
form {
    width: 40%;
    background-color: #353535a9;
    margin: auto auto;
    border-radius: 1em;
    padding: 4em 8em;
}
form label {
    color: white;
}
.btn-align{
    text-align: center;
    padding-top: .5em;
}