body {
    background-image: url("../imgs/woman-in-red-long-sleeve-shirt-wearing-eyeglasses-using-3791130.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    padding: 3em 0 20em 0;
    
}
.tbl {
    background-color: rgba(66, 63, 63, 0.562);
    width: 90%;
    margin: auto auto;
    border-radius: .5em;
    padding: 4em 5em;
}
.search {
    /* background-color: rgba(66, 63, 63, 0.562); */
    width: 90%;
    margin: auto auto;
    /* border-radius: .5em;
    padding: 4em 5em; */
}
.table {
    margin: 0em;
}
table tr {
    color: white;
}
table tbody td {
    vertical-align: middle !important;
}
table tbody tr:hover {
    background-color: gray;
    /* color: black; */
}
.modal-dialog .modal-content .modal-body span{
    margin: 0em .1em;
}